{% extends 'main/layout.html' %}

{% block title %}Удаление места{% endblock %}

{% block content %}
<div style="text-align: center; margin: 3%;">
    <h3 style="margin: 3%;">Вы действительно хотите удалить место "{{ object }}"?</h3>
    <form method="POST" style="margin: 3%;">
        {% csrf_token %}
        <a class="btn btn-secondary" href="{% url 'places' %}" style="margin: 3%;">Отмена</a>
        <button type="submit" class="btn btn-danger" style="margin: 3%;">Удалить</button>
    </form>
</div>
{% endblock %}