{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container" style="margin: 5% auto;">
<form method="post">
    {% csrf_token %}
    <div class="text-center" style="margin: 5% auto;">
        <h3>Регистрация</h3>
    </div>
    {{ form.as_p }}
    <div class="text-center" style="margin: 5% auto;">
    <button type="submit" class="btn btn-primary" name="add-event-button">Зарегистрироваться</button><br>
    <a class="link" href="{% url 'login' %}">Войти</a>
    </div>
</form>
</div>
{% endblock %}